header{
    display: flex;
    justify-content: center;
    align-items: center;
}  

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gesamt{
    max-width: 40vw;
    text-align: center;
}

.container1{
    display: flex;
    justify-content: center;
}

i{
    font-size: 100px;
    color: blue;
}

.container2{
    display: flex;

    justify-content: space-around;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
